<!DOCTYPE html>
<html ng-app="sample">
<!---<html ng-app="sample2"> --->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="empjs.js"></script>
</head>

<body ng-controller="myctrl">
    Chose no of rows <input type="number" step="1" min="0" max="6" ng-model="limit"><br>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>ID
                <br>
                <input type="text" ng-model="search.ID" placeholder="Search for ID">
            </th>
            <th>Name
                <br>
                <input type="text" ng-model="search.Name" placeholder="Search for Name">
            </th>
                <th>Age
                <br>
                <input type="text" ng-model="search.Age" placeholder="Search for Age">
            </th>
            <th>Station
                <br>
                <input type="text" ng-model="search.Station" placeholder="Search for Station">
            </th>
            <th>Phone
                <br>
                <input type="text" ng-model="search.Phone" placeholder="Search for phone">
            </th>
            <th>Salary
                <br>
                <input type="text" ng-model="search.Salary" placeholder="Search for Salary">
            </th>
        </tr>
        <tr ng-repeat="item in entry|filter:search|orderBy:'ID' | limitTo:limit">
            <td>{{item.ID}}</td>
            <td>{{item.Name|uppercase}}</td>
            <td>{{item.Age}}</td>
            <td>{{item.Station|lowercase}}</td>
            <td>{{item.Phone}}</td>
            <td>{{item.Salary|currency}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    
</body>

</html>